<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text'name="name" ng-model='user.username' ng-required="true">
    <p class=error ng-show="signinForm.name.$error.required && !signinForm.name.$pristine">Please enter a username.</p>
    <input type="password" name="password" ng-model='user.password' ng-required="true">
    <p class=error ng-show="signinForm.password.$error.required && !signinForm.password.$pristine">Please enter a password.</p>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
